<h1> Tasks List </h1>
<% @tasks.each do |task| %>
  <h2>
    Task <%= task[:task] %>
  </h2>
  <p>
    <%= task[:name] %>: <%= task[:description] %>
  </p>
  <p> 
    DUE DATE: <%= task[:completion_date] %>
  </p>
<% end %>
